.navigation{
    background-color: black;
    height:10vh;
    position: sticky;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.navigation>.active{
    font-size: 3rem;
}

.navigation > *{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-left: 5rem;
}

.active{
    color: #0bac18;
}

.navlink:hover{
    /* color: #0bac18; */
}