.tab{
    display: flex;
    flex-direction: row;
}

.tab-rows{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.tab-rows > p{
    display: flex;
    text-align: justify;
}

button{
    background: none;
    border: none;
    height: fit-content;
    width: fit-content;
}

.tab-rows p button{
    font-size: 2rem;
}

.noteform{
    display: flex;
    /* Adapter le formulaire pour l'afficher par dessus la note */
}