.tuning{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.tuning p{
    font-size: 1.5rem;
}

.tab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tab-rows{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.tab-rows > div{
    display: flex;
    text-align: justify;
    justify-content: space-between;
}

button{
    background: none;
    border: none;
    height: fit-content;
    width: fit-content;
}

.tab-rows div button{
    font-size: 2rem;
}

.noteDiv{
    display: flex;
    flex-direction:column;
    position: relative;
}

.noteform{
    display: flex;
    position: absolute;
    align-items: center;
    background: white;
    border: 2px solid black;
    border-radius: 3px;
    width: auto;
    top: -2vh;
    z-index: 5;
    /* Adapter le formulaire pour l'afficher par dessus la note */
}

.noteform > input{
    width: 35px;
    height: 25px;
    text-align: center;
    font-size: 1.5rem;
}

.noteform > .noteform-button{
    border-radius: 50%;
    min-width: 17px; 
    min-height: 17px;
    content:"";
    margin-left: 8px;
    margin-right: 5px;
    background: rgb(38,166,57);
    background: radial-gradient(circle, rgb(32, 219, 60) 0%, rgb(17, 218, 40) 100%);
}

/* ---------- Faire un triangle en dessous du form ------------- */
/*
    .noteform::after{
    content:"";
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 150px solid red;
    border-right : 101px solid transparent;
    border-left : 73px solid transparent;
} */